 // 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables

// 3. Set the bulma derived variables
// http://bulma.io/documentation/overview/variables/
$primary: #5cb85c;
$family-primary: "Source Sans Pro", sans-serif;

// 4. Import the rest of Bulma
@import "~bulma";

// 5. Add custom styling below

.card {
  box-shadow: none;
  border-bottom: 1px solid #dbdbdb;
}

.nav-brand {
  color: $primary !important;
  font-size: 1.5rem !important;
  font-family: "Titillium Web", sans-serif;
}

.hero.has-shadow {
  box-shadow:
    inset 0 8px 8px -8px rgba(0, 0, 0, 0.3),
    inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3);
}

.hero .title {
  font-size: 3.5rem !important;
  font-weight: 700 !important;
  font-family: "Titillium Web", sans-serif;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.hero .subtitle {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.avatar.image.is-48x48 img {
  border-radius: 24px;
}